# Start by ignoring everything
*

# Configs
!config/
config/local.toml
config/local.toml.example
config/test.toml
config/test.toml.example

# Release
!target/release/caster*
!target/release/libcaster*
